ext/Makefile
mkmf.log
.config
rb_pgplot.c
*.o
*.so
lib*.a
cpgplot.h
*~
*/*~
*/*/*~
InstalledFiles
pkg
build_pgplot
.RUBYARCHDIR.time
ext/build_lib/build
ext/build_lib/drivers.conf
ext/build_lib/pgplot*
